.total-price-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 30px;
  padding-block-start: 21px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--element-background-color);
  inline-size: 350px;
  block-size: 120px;
}

.total-price-card__text {
  display: flex;
  justify-content: space-between;
  margin-inline: 21.4px 18.5px;
}

.total-price-card__title {
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 18.3px;
  text-transform: uppercase;
}

.total-price-card__value {
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 18.3px;
}

.total-price-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
  background-color: #101010;
  transition: opacity 0.25s;
  cursor: pointer;
  inline-size: 100%;
  block-size: 65px;
}

.total-price-card__button:focus {
  outline: none;
}

.total-price-card__button:focus-visible {
  opacity: 0.8;
}

.total-price-card__button:hover {
  opacity: 0.8;
}

.total-price-card__button_disabled {
  border-color: #101010;
  box-shadow: none;
  color: #101010;
  background-color: #fff;
  pointer-events: none;
}