.popup {
  border: none;
  padding: 30px;
  font-family: var(--font, sans-serif);
  background-color: transparent;
  inline-size: 600px;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
} 

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--element-background-color);
}

.popup__close {
  position: absolute;
  top: -21px;
  right: -21px;
  margin: 0;
  border: none;
  padding: 0;
  background: transparent url('../../images/close.svg') center no-repeat;
  background-size: 30px 30px;
  transition: opacity 0.25s, transform 0.25s;
  cursor: pointer;
  inline-size: 30px;
  block-size: 30px;
}

.popup__close:hover {
  opacity: 0.5;
}

.popup__close:focus {
  outline: none;
}

.popup__close:focus-visible {
  transform: scale(1.1);
}

.popup__title {
  margin-block-end: 20px;
  color: #1c1c27;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

@media (width <= 650px) {
  .popup {
    inline-size: 350px;
  }
}