.card {
  border-radius: 30px;
  padding: 15px 0 26.6px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  font-family: var(--font, sans-serif);
  background-color: var(--element-background-color);
  transition: transform 0.25s;
  cursor: pointer;
  max-block-size: 407px;
  max-inline-size: 350px;
}

.card:hover {
  transform: translateY(-3px);
}

.card__image {
  margin: 0 65px 53px 66px;
  object-fit: contain;
  object-position: center;
  block-size: 237px;
  inline-size: 220px;
}

.card__description {
  display: flex;
  justify-content: space-between;
  margin: 0 18px 0 21px;
}

.card__description:has(.card__prev-price) {
  margin-inline-end: 14px;
}

.card__description-section {
  display: grid;
  grid-template-columns: 1fr;
}

.card__description-section:first-child {
  max-block-size: 72.3px;
}

.card__title {
  margin-inline-start: 2px;
  color: #1c1c27;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
}

.card__price {
  justify-self: end;
  margin-inline-end: 6px;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
}

.card__prev-price {
  justify-self: end;
  margin-inline-end: 13px;
  margin-block-end: -10px;
  color: #ffce7f;
  font-weight: 600;
  font-size: 13px;
  text-decoration: line-through;

}

.card__prev-price_invisible {
  display: none;
}

.card__rate {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: start;
  margin-block-start: 26px;
  color: #838383;
}

.rate__value {
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
}

.card__button {
  justify-self: end;
  margin-block-start: 23px;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 3px;
  color: #000 ;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.7px;
  background-color: transparent;
  transition: border-color 0.25s, opacity 0.25s;
  cursor: pointer;
}

.card__button:focus {
  outline: none;
}

.card__button:focus-visible {
  border-color: #000;
}

.card__button:hover {
  opacity: 0.6;
}