.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 29px;
  font-family: var(--font, sans-serif);
  min-block-size: 60px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 45px;
  padding-inline-end: 7px;
  list-style: none;
}

.header__list-item {
  transition: transform 0.25s;
}

.header__list-item::after {
  content: '';
  display: block;
  margin-block-start: 2px;
  opacity: 0.6;
  background-color: var(--interaction-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
}

.header__list-item:hover {
  transform: scale(1.1);
}

.header__list-item:has(.header__link:focus-visible)::after {
  transform: scaleX(1);
}

.header__list-item:has(.header__link_active) {
  pointer-events: none;
}

.header__link {
  position: relative;
}

.header__link:focus {
  outline: none;
}

.header__link_active {
  opacity: 0.6;
}

.header__link-counter {
  content: attr(data-count);
  position: absolute;
  top: -12px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  background-color: var(--accent-color);
  block-size: 18px;
  inline-size: 18px;
}

.header__link-counter_invisible {
  display: none;
}

.header__icon {
  inline-size: 22px;
  block-size: 20px;
}

.header__icon_large {
  inline-size: 23.2px;
  block-size: 23.2px;
}